@import url('./../../fonts/Montserrat/stylesheet.css');

@mixin flex-type(
  $align: stretch,
  $justify: flex-start,
  $gap: 0px,
  $wrap: nowrap,
  $direction: row
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin textSettings(
  $style: normal,
  $weight: 500,
  $size: 16px,
  $color: #000,
  $lineHeight: normal
) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  line-height: $lineHeight;
}

@mixin circle($size: 100px, $isCircle: true, $bg: #fff) {
  width: $size;
  height: $size;
  background: $bg;
  @if ($isCircle) {
    border-radius: 50%;
  }
}
