@import './../fonts/Raleway/stylesheet.css';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
}

.qomek {
  width: 100vw;
  height: 100vh;
  background: url(./../img/bg2.png) no-repeat right center;
  background-size: auto 100%;
  &__block {
    width: 50%;
    height: 100vh;
    @include flex-type($justify: space-evenly, $direction: column);
  }
  &__title {
    @include textSettings(normal, bold, 44px, #353333);
    max-width: 735px;
    span {
      color: #FD385B;
    }
  }
  &__subtitle {
    @include textSettings(normal, bold, 28px, #353333, 42px);
    max-width: 679px;
    span {
      color: #FD385B;
    }
  }
  &__download {
    @include flex-type(center, $gap: 20px);
    &-qr {
      @include circle(140px, false, red);
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-links {
      @include flex-type(center, space-between, $gap: 10px, $direction: column);
    }
  }

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    color: #12175D;
  }
  &__mobile {
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(./../img/mobileBG.png) no-repeat bottom center fixed;
    background-size: 100%;

    a {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 29px;
      color: #12175D;
    }

    &-logo {
      text-align: center;
      margin: 40px 0;
    }
    &-title {
      @include textSettings(normal, bold, 36px, #353333, 100%);
      text-align: center;
      span {
        color: #FD385B;
      }
    }
    &-subtitle {
      @include textSettings(normal, bold, 18px, #353333, 17px);
      text-align: center;
      max-width: 300px;
      margin: 25px auto 0;
      span {
        color: #FD385B;
      }
    }
    &-block {
      height: 100vh;
      @include flex-type(center, space-between, $direction: column);
    }
    &-btns {
      text-align: center;
      margin: 0 auto;
      width: 100vw;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 67.36%
      );
      position: fixed;
      bottom: 0;
      @include flex-type(
        center,
        center,
        $gap: 5px,
        $wrap: wrap,
        $direction: column
      );
      .private {
        display: block;
        margin: 17px 0 25px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .qomek {
    &__desktop {
      display: none;
    }
    &__mobile {
      background-position: bottom -650px right;
      @include flex-type($direction: column);
    }
  }
}

@media screen and (max-width: 850px) {
  .qomek {
    &__mobile {
      background-position: bottom -480px right;
    }
  }
}

@media screen and (max-width: 750px) {
  .qomek {
    &__mobile {
      background-position: bottom -380px right;
    }
  }
}

@media screen and (max-width: 650px) {
  .qomek {
    &__mobile {
      background-position: bottom -280px right;
    }
  }
  .qomek__mobile-btns-icons img {
    width: 160px;
  }
}

@media screen and (max-width: 550px) {
  .qomek {
    &__mobile {
      background-position: bottom -180px right;
    }
  }
}

@media screen and (max-width: 450px) {
  .qomek {
    &__mobile {
      background-position: bottom -80px right;
       &-logo {
        img {
          width: 265px;

        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .qomek {
    &__mobile {
      background-position: bottom -10px right;
    }
  }
}

@media screen and (max-height: 400px) {
  .qomek {
    &__mobile {
      background: none;

    }
  }
}
