@import './../fonts/Raleway/stylesheet.css';
@import url("./../../fonts/Montserrat/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

.qomek {
  width: 100vw;
  height: 100vh;
  background: url(./../img/bg2.png) no-repeat right center;
  background-size: auto 100%;
}
.qomek__block {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 0px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.qomek__title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #353333;
  line-height: normal;
  max-width: 735px;
}
.qomek__title span {
  color: #FD385B;
}
.qomek__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #353333;
  line-height: 42px;
  max-width: 679px;
}
.qomek__subtitle span {
  color: #FD385B;
}
.qomek__download {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
  flex-direction: row;
}
.qomek__download-qr {
  width: 140px;
  height: 140px;
  background: red;
}
.qomek__download-qr img {
  width: 100%;
  height: 100%;
}
.qomek__download-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.qomek a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  color: #12175D;
}
.qomek__mobile {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(./../img/mobileBG.png) no-repeat bottom center fixed;
  background-size: 100%;
}
.qomek__mobile a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  color: #12175D;
}
.qomek__mobile-logo {
  text-align: center;
  margin: 40px 0;
}
.qomek__mobile-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #353333;
  line-height: 100%;
  text-align: center;
}
.qomek__mobile-title span {
  color: #FD385B;
}
.qomek__mobile-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #353333;
  line-height: 17px;
  text-align: center;
  max-width: 300px;
  margin: 25px auto 0;
}
.qomek__mobile-subtitle span {
  color: #FD385B;
}
.qomek__mobile-block {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.qomek__mobile-btns {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 67.36%);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}
.qomek__mobile-btns .private {
  display: block;
  margin: 17px 0 25px;
}

@media screen and (max-width: 991px) {
  .qomek__desktop {
    display: none;
  }
  .qomek__mobile {
    background-position: bottom -650px right;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .qomek__mobile {
    background-position: bottom -480px right;
  }
}
@media screen and (max-width: 750px) {
  .qomek__mobile {
    background-position: bottom -380px right;
  }
}
@media screen and (max-width: 650px) {
  .qomek__mobile {
    background-position: bottom -280px right;
  }

  .qomek__mobile-btns-icons img {
    width: 160px;
  }
}
@media screen and (max-width: 550px) {
  .qomek__mobile {
    background-position: bottom -180px right;
  }
}
@media screen and (max-width: 450px) {
  .qomek__mobile {
    background-position: bottom -80px right;
  }
  .qomek__mobile-logo img {
    width: 265px;
  }
}
@media screen and (max-width: 350px) {
  .qomek__mobile {
    background-position: bottom -10px right;
  }
}
@media screen and (max-height: 400px) {
  .qomek__mobile {
    background: none;
  }
}/*# sourceMappingURL=style.css.map */