@import './../../fonts/TimesNewRoman/stylesheet.css';
@import './../mixins';

.text-center {
  text-align: center;
}

.text {
  color: #000;
}

.yellow-text {
  color: rgb(255, 164, 34);
  font-size: 18px;
}

.privacy {
  width: 100%;
  padding: 30px 0;
  font-family: 'Times New Roman';
  &__unnumberedlist {
    list-style: none;
    color: #000;
    margin: 15px 0;
  }
  &__orderlist {
    color: rgb(255, 164, 34);
  }
}

.offer {
  &__title {
    max-width: 370px;
    width: 100%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 18px;
  }
  ul {
    margin: 20px 0;
    list-style: none;
  }
}
