@import './../../fonts/TimesNewRoman/stylesheet.css';
@import url("./../../fonts/Montserrat/stylesheet.css");
.text-center {
  text-align: center;
}

.text {
  color: #000;
}

.yellow-text {
  color: #ffa422;
  font-size: 18px;
}

.privacy {
  width: 100%;
  padding: 30px 0;
  font-family: "Times New Roman";
}
.privacy__unnumberedlist {
  list-style: none;
  color: #000;
  margin: 15px 0;
}
.privacy__orderlist {
  color: #ffa422;
}

.offer__title {
  max-width: 370px;
  width: 100%;
  margin: 20px auto;
  font-weight: bold;
  font-size: 18px;
}
.offer ul {
  margin: 20px 0;
  list-style: none;
}/*# sourceMappingURL=style.css.map */